# SSH keys
*.pem
*.key
*.pub

# terraform key file
terraform-key.json
terraform-key-cafeboo33.json
v2-test-key.json

# tfstate
*.tfstate*
*.tfvars
.terraform/

# macOS
.DS_Store

#model files
embedding_model.tar.gz
best_model.pt
